
 .DV-highlights{
    position:relative;
    left:1px;
    top:1px;
    z-index:10001;
  }

  .DV-highlight{
    position:absolute;
    left:0;
    right:0;
    -webkit-border-radius: 3px;
    -moz-border-radius:  3px;
    border-radius:  3px;
  }
  .DV-highlightRegion {
    background: rgb(255, 227, 37);
    background: rgba(255, 227, 37, 0.2);

    border:3px solid rgb(225, 200, 0);
    border:3px solid rgba(255, 227, 37, 0.5);

    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;

    position:relative;
    left: -2px;
    top: -1px;

    z-index: 5;

    cursor:pointer;
  }
  .DV-highlightRegion.DV-approved {
      background: rgb(46, 227, 37);
      background: rgba(46, 227, 37, 0.2);

      border:3px solid rgb(46, 200, 0);
      border:3px solid rgba(46, 227, 37, 0.5);
  }
 .DV-highlightRegion.DV-semi-approved {
     background: rgb(252, 162, 3);
     background: rgba(252, 162, 3, 0.2);

     border:3px solid rgb(250, 152, 5);
     border:3px solid rgba(250, 152, 5, 0.5);
 }

  .DV-coverVisible .DV-highlightRegion {
    background: rgb(255, 227, 37);
    background: rgba(255, 227, 37, 0.1);
    border:3px solid rgb(255, 227, 37);
    border:3px solid rgba(255, 227, 37, 0.2);
  }
  .DV-coverVisible .DV-highlightTab {
    opacity: 0.3;
  }
  .DV-coverVisible .DV-activeHighlight .DV-highlightTab,
  .DV-coverVisible .DV-highlight:hover .DV-highlightTab {
    opacity: 1;
  }
  .DV-ie .DV-highlightRegion{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
  }
  .DV-accessPrivate .DV-highlightRegion, .DV-accessPrivate.DV-highlightRegion {
    background: rgb(107, 194, 248);
    background: rgba(107, 194, 248, 0.2);
    border:3px solid rgb(95, 175, 235);
    border:3px solid rgba(107, 194, 248, 0.5);
  }
  .DV-accessRedact .DV-highlightRegion,
  .DV-accessRedact.DV-highlightRegion {
    background: #000;
    border: 0;
    border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0;
    filter: none;
    -ms-filter: none;
  }
    .DV-redRedactions .DV-accessRedact .DV-highlightRegion,
    .DV-redRedactions .DV-accessRedact.DV-highlightRegion {
      background: #800;
    }
  .DV-coverVisible .DV-accessPrivate .DV-highlightRegion {
    background: rgb(107, 194, 248);
    background: rgba(107, 194, 248, 0.1);
    border:3px solid rgb(107, 194, 248);
    border:3px solid rgba(107, 194, 248, 0.2);
  }
  .DV-highlightRegion:hover{
    border: 3px solid rgb(255, 227, 37);
    -webkit-box-shadow: 1px 2px 7px rgb(0,0,0);
    -webkit-box-shadow: 1px 2px 7px rgba(0,0,0,.2);

    -moz-box-shadow: 1px 2px 7px rgb(0,0,0);
    -moz-box-shadow: 1px 2px 7px rgba(0,0,0,.2);

    box-shadow: 1px 2px 7px rgb(0,0,0);
    box-shadow: 1px 2px 7px rgba(0,0,0,.2);
  }
  .DV-accessPrivate .DV-highlightRegion:hover,
  .DV-accessPrivate.DV-highlightRegion:hover {
    border: 3px solid rgb(107, 194, 248);
  }
  .DV-highlightContent{
    display:none;
    background-color:#fff;
    border:1px solid #fff;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    padding:10px;
    cursor:default;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  .DV-highlightClose{
    padding:7px 9px 0 10px;
    color:#000;
    text-transform:lowercase;
    font-size:10px;
    line-height:10px;
    font-family:Arial,Helvetica,sans-serif;
    width:15px;
    height:19px;
    text-indent:-1000em;
  }
  /* ---------------------------------------------------- highlights - active */
  .DV-activeHighlight .DV-highlightRegion{
    display:none;
  }
  .DV-activeHighlight .DV-highlightContent{
    display:block;
  }
  .DV-activeHighlight .DV-highlightClose{
    display:block;
    background: transparent url(../../../images/DV/embed/close_tab.png) no-repeat 6px 7px;
  }

  .DV-activeHighlight.DV-highlight{
    background: rgb(255, 227, 37);
    padding:3px;
    -webkit-border-radius: 3px;
    -moz-border-radius:  3px;
    border-radius:  3px;
    margin: -37px -14px 0 -14px;
    z-index:10003;
    /*width: 800px;*/

    -webkit-box-shadow: 1px 1px 3px rgb(0,0,0);
    -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,.2);

    -moz-box-shadow: 1px 1px 3px rgb(0,0,0);
    -moz-box-shadow: 1px 1px 3px rgba(0,0,0,.2);

    box-shadow: 1px 1px 3px rgb(0,0,0);
    box-shadow: 1px 1px 3px rgba(0,0,0,.2);
  }
  .DV-activeHighlight.DV-highlight.DV-accessPrivate {
    background: rgb(107, 194, 248);
  }
  .DV-activeHighlight.DV-highlight.DV-accessRedact {
    background: #000;
  }
    .DV-redRedactions .DV-activeHighlight.DV-highlight.DV-accessRedact {
      background: #800;
    }

  /* ---------------------------------------------------- highlights - decoration */
  .DV-annotationGoto{
    float:right;
    display:none;
    width:15%;
    text-align:right;
    padding: 2px 0 0;
    font-size:10px;
    font-family:Arial,Helvetica,sans-serif;
    font-weight:bold;
    color:#004276;
    text-decoration:none;
  }
  .DV-annotationTitle{
    float:left;
    display:inline;
    font-weight:bold;
    font-family:Arial,Helvetica,sans-serif;
    font-size:12px;
    color:#000;
    padding:0;
    max-width: 67%;
    cursor: pointer;
    word-wrap: break-word;
  }
    .DV-annotationTitle:hover {
      text-decoration: underline;
    }

  .DV-permalink {
    zoom: 1;
    font-size: 16px;
    background: url(../../../images/DV/embed/link.png) no-repeat 0 0;
    padding-left: 16px;
    cursor: pointer;
    position: relative;
    visibility: hidden;
    left: 7px; top: -2px;
  }
    .DV-highlight:hover .DV-permalink {
      visibility: visible;
    }
    .DV-permalink:hover {
      background-position: 0 -32px;
    }

  /* ---------------------------------------------------- excerpt */
  .DV-highlightExcerpt{
    -moz-box-shadow: inset 0 0 5px rgb(0,0,0);
    -moz-box-shadow: inset 0 0 5px rgba(0,0,0,.3);

    -webkit-box-shadow: inset 0 0 5px rgb(0,0,0);
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.3);

    box-shadow: inset 0 0 5px rgb(0,0,0);
    box-shadow: inset 0 0 5px rgba(0,0,0,.3);
    margin: 10px 0 10px;
    border:1px solid #d0d0d0;
    -webkit-border-radius: 2px;
    -moz-border-radius:  2px;
    border-radius:  2px;
    background-color: white;

    position:relative;
    z-index:10000;
    overflow:hidden;
  }
  .DV-highlightExcerptImage{
    opacity:.2;

    -moz-box-shadow: inset 0 0 5px rgb(0,0,0);
    -moz-box-shadow: inset 0 0 5px rgba(0,0,0,.3);

    -webkit-box-shadow: inset 0 0 5px rgb(0,0,0);
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.3);

    box-shadow: inset 0 0 5px rgb(0,0,0);
    box-shadow: inset 0 0 5px rgba(0,0,0,.3);
    z-index:10000;
    overflow:hidden;
  }
  .DV-ie .DV-highlightExcerptImage img{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
  }

  .DV-highlightExcerptImageTop{
    position:absolute;
    top:0;
    z-index:15000;
    overflow:hidden;
/*    margin-left:-10px;*/
/*    -moz-box-shadow: inset 0 0 5px rgb(0,0,0);
    -moz-box-shadow: inset 0 0 5px rgba(0,0,0,.3);
*/
/*    -webkit-box-shadow: inset 0 0 5px rgb(0,0,0);*/
/*    -webkit-box-shadow: inset 0 0 5px #f00;    */
/*    display:none;*/
/*    box-shadow: 0 0 5px rgb(0,0,0);*/
  border-left:1px solid #ddd;
  border-left:1px solid rgba(221,221,221,.4);
  border-right:1px solid #ddd;
  border-right:1px solid rgba(221,221,221,.4);
  -webkit-box-shadow: inset 0 0 5px #000;

  }
  .DV-highlightExcerptImageTop img{
/*    margin-left:-16px;*/
  }
  .DV-highlightExcerptImage img{
/*    left:-25px;*/
      left: -1px;
  }

  .DV-highlightExcerptImage{
    left:0;
  }
  .DV-highlightExcerptImage img,
  .DV-highlightExcerptImageTop img{
    -moz-box-shadow: inset 0 0 5px rgb(0,0,0);
    -moz-box-shadow: inset 0 0 5px rgba(0,0,0,.3);

    -webkit-box-shadow: inset 0 0 5px rgb(0,0,0);
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.3);

    box-shadow: inset 0 0 5px rgb(0,0,0);
    box-shadow: inset 0 0 5px rgba(0,0,0,.3);
    position:absolute;
  }

  .DV-annotationBody{
    font: 13px/18px Georgia, Times, serif;
    cursor:text;
    color: #333;
    word-wrap: break-word;
  }

  .DV-annotationAuthor {
    float: right;
    color: #999;
    padding: 10px 0 0;
    line-height: 14px;
    font-size: 10px;
  }

  .DV-highlightWarning {
    color: #999;
    font-size: 10px;
    padding: 10px 0 0;
    line-height: 14px;
  }

  .DV-annotationMeta {
    display: none;
    height: 24px;
  }

  .DV-highlightDraftLabel {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 9px;
    padding: 0px 1px 0px 2px;
    line-height: 11px;
    border: 2px solid #b55;
    color: #a33;
    margin: -1px 2px 0 12px;
    float: left;
  }
  /* ---------------------------------------------------- tabs */
  .DV-highlightTab{
    background: url(../../../images/DV/embed/tabs.png) no-repeat 0 0;
    height:26px;
    position:absolute;
    left: -35px;
    width: 50px;
  }
    .DV-accessPrivate .DV-highlightTab {
      background-position: 0 -26px;
    }
  .DV-activeHighlight .DV-highlightTab{
    background-position: 0 -52px;
    margin-top: 37px;
    left: -30px;
  }
  .DV-activeHighlight.DV-accessPrivate .DV-highlightTab {
    background-position: 0 -78px;
  }
  .DV-highlightTab .DV-highlightDraftDot {
    width: 11px;
    height: 11px;
    background: transparent url(../../../images/DV/embed/draft_dot.png) no-repeat 0 0;
    margin: 0 0 0 -3px;
  }
    .DV-activeHighlight .DV-highlightTab .DV-highlightDraftDot {
      display: none;
    }

  /* ---------------------------------------------------- active highlight */
  .DV-activeHighlight .DV-page{
    background-color:#555;
  }
  .DV-activeHighlight .DV-pageImage{
    opacity:.5;
  }
  .DV-ie .DV-activeHighlight .DV-pageImage{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }

/* ---------------------------------------------------- pagination */
.DV-hideNav {
  display: none;
}

.DV-pagination{
  height: 18px;
  text-align:left;
  color:#666;
  text-decoration:uppercase;
  background-color:#fff;
  font-family:Arial,Helvetica,sans-serif;
}

.DV-pagination .DV-trigger
{
  color:#004276;
  font-weight:bold;
  text-decoration:none;
  text-transform:uppercase;
  font-size:10px;
  position: relative;
  top: -3px;
}

.DV-highlight .DV-trigger:hover{
  text-decoration:underline;
}

.DV-resultPrevious,
.DV-highlightPrevious {
  background: url(../../../images/DV/embed/leftArrow.png) no-repeat left 1px;
}

.DV-highlightPrevious{
  padding-left:16px;
  padding-right:4px;
}

.DV-highlightPrevious:hover{
  text-decoration:underline;
}

.DV-resultNext,
.DV-highlightNext {
  background:transparent url(../../../images/DV/embed/rightArrow.png) no-repeat right 1px;
}

.DV-highlightNext{
  padding-right:16px;
  padding-left:8px;
}

.DV-highlightNext:hover{
  text-decoration:underline;
}


/* ---------------------------------------------------- pageNote */

.DV-pageNote{
  z-index:1000;
  position:relative;
  left:0;
  top:0;
  cursor: default !important;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom:20px;

  background: rgb(255, 227, 37);
  background: rgba(255, 227, 37, 0.9);

  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;

  -webkit-box-shadow: 1px 1px 3px rgb(0,0,0);
  -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,.2);

  -moz-box-shadow: 1px 1px 3px rgb(0,0,0);
  -moz-box-shadow: 1px 1px 3px rgba(0,0,0,.2);

  box-shadow: 1px 1px 3px rgb(0,0,0);
  box-shadow: 1px 1px 3px rgba(0,0,0,.2);
}
.DV-pageNote.DV-accessPrivate {
  background: rgb(107, 194, 248);
  background: rgba(107, 194, 248, 0.9);
}
.DV-coverVisible .DV-pageNote {
  opacity: 0.25;
}
.DV-activeHighlight.DV-pageNote{
  opacity: 1;
  margin: 0 10px 20px;
}
.DV-pageNote .DV-highlightContent{
  display:block;
}
.DV-pageNote .DV-annotationTitle{
  margin-bottom:10px;
}

.DV-pageNote .DV-highlightTab{
 display:none;
}
.DV-layer-page .DV-pageNumber{
  margin-top:15px;
}

.DV-pageNoteInsert {
  display: none;
}

/* ---------------------------------------------------- hack for load */
.DV-getHeights{
  display:block !important;
}

/*-------------------------- Highlight Borders ------------------------------*/
.DV-highlightEdge, .DV-highlightCorner {
  position: absolute;
  width: 10px; height: 10px;
  z-index: 10;
}
  .DV-highlightCorner {
    z-index: 20;
  }
  .DV-highlightEdgeTop {
    top: -7px;
    width: 100%;
    cursor: n-resize;
  }
  .DV-highlightEdgeRight {
    right: -7px;
    height: 100%;
    cursor: e-resize;
  }
  .DV-highlightEdgeBottom {
    bottom: -7px;
    width: 100%;
    cursor: s-resize;
  }
  .DV-highlightEdgeLeft {
    left: -7px;
    height: 100%;
    cursor: w-resize;
  }
  .DV-highlightCornerTopLeft {
    top: -7px; left: -7px;
    cursor: nw-resize;
  }
  .DV-highlightCornerTopRight {
    top: -7px; right: -7px;
    cursor: ne-resize;
  }
  .DV-highlightCornerBottomLeft {
    bottom: -7px; left: -7px;
    cursor: sw-resize;
  }
  .DV-highlightCornerBottomRight {
    bottom: -7px; right: -7px;
    cursor: se-resize;
  }

/*------------------------ highlight controls ---------------------------------*/

.DV-highlight .DV-annotationEditControls .DV-saveAnnotationDraft {
  margin-right: 10px;
  width: 135px;
}

/*------------------------ show/hide the edit UI ---------------------------------*/
.DV-highlight .DV-de_icon {
    float: left;
    background: url(../../../images/DV/embed/de.ico) no-repeat left 1px;
    width: 32px;
    height: 33px;
}

 .DV-highlight .DV-qc_icon {
     float: left;
     background: url(../../../images/DV/embed/qc.ico) no-repeat left 1px;
     width: 32px;
     height: 33px;
 }

.DV-highlight .DV-editVisible {
  display: none;
}

.DV-editing .DV-editVisible {
  display: inline;
  width: 98%;
}

.DV-editing .DV-editHidden {
  display: none !important;
}

.DV-highlight .DV-saveAnnotationDraft {
  display: none;
}

.DV-highlight .DV-accessExclusive,
.DV-highlight .DV-accessPrivate,
.DV-highlight .DV-accessPublic {
  display: none;
}

.DV-isContributor .DV-highlight .DV-accessPrivate,
.DV-isOwner .DV-highlight .DV-accessPrivate,
.DV-isOwner .DV-highlight .DV-accessExclusive,
.DV-isOwner .DV-highlight .DV-accessPublic,
.DV-highlight.DV-ownsHighlight .DV-accessPrivate,
.DV-highlight.DV-ownsHighlight .DV-accessExclusive,
.DV-highlight.DV-ownsHighlight .DV-accessPublic {
  display: block;
}

.DV-isContributor .DV-highlight .DV-annotationMeta,
.DV-isOwner .DV-highlight .DV-annotationMeta,
.DV-isReviewer .DV-highlight .DV-annotationMeta {
  display: block;
}

.DV-isContributor .DV-highlight .DV-saveAnnotationDraft,
.DV-isOwner .DV-highlight .DV-saveAnnotationDraft,
.DV-isReviewer .DV-highlight .DV-saveAnnotationDraft {
  display: block;
}

.error {
    border-color: red !important;
}

/*----------------Graphs-------------------*/
 #graph_frame {
     height: 800px;
     width: 100%;
 }

 .DV-data_status_div {
     border-color: white;
     border-width: 1px;
     border-style: solid;
     padding: 1px;
     margin-right: 50px;
 }

 .DV-data_status_label {
     float: right;
     padding-top: 3px;
 }

 .DV-data_status {
     padding: 2px;
     color: white;
     border-radius: 5px;
     margin: 0 5px;
     float: right;
 }

 .DV-data_error {
     font-size: 14px;
     color: red;
     padding-top: 6px;
     padding-right: 10px;
 }

 .status_unsaved {
     background-color: red;
 }

 .status_saved {
     background-color: green;
 }

