.DV-ViewHighlights .DV-set,
.DV-ViewHighlights .DV-text,
.DV-ViewHighlights .DV-search,
.DV-ViewHighlights .DV-bar{
  display:none;
}

.DV-ViewHighlights .DV-allHighlights,
.DV-ViewHighlights .DV-highlightContent{
  display:block;
}

.DV-ViewHighlights .DV-highlightRegion{
  position: absolute;
  left: -10000px;
  width: 0; height: 0;
}

.DV-ViewHighlights .DV-highlightTab{

  filter:none;
  display:none !important;
}

.DV-ViewHighlights .DV-annotationGoto{
  display:inline;
}

.DV-ViewHighlights .DV-pageNoteHighlightTab{
  display:none;
}

.DV-ViewHighlights .DV-highlightNext,
.DV-ViewHighlights .DV-highlightPrevious{
  display:none !important;
}

.DV-ViewHighlights .DV-highlightBG{
  margin-top:0;
  position:relative;
  clear:left;
}

.DV-ViewHighlights .DV-highlight,
.DV-getHeights .DV-highlight {
  position:relative;
  top:0 !important;
  display: inline-block;
  margin: 0 auto 25px;

  background: #ffe300;

  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;

  -webkit-box-shadow: 1px 1px 3px rgb(0,0,0);
  -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,.2);

  -moz-box-shadow: 1px 1px 3px rgb(0,0,0);
  -moz-box-shadow: 1px 1px 3px rgba(0,0,0,.2);

  box-shadow: 1px 1px 3px rgb(0,0,0);
  box-shadow: 1px 1px 3px rgba(0,0,0,.2);
}
.DV-ViewHighlights .DV-highlight.DV-accessPrivate {
  background: rgb(107, 194, 248);
  background: rgba(107, 194, 248, .9);
}

/*hack to control scrollbar width in webkit*/
.DV-ViewHighlights .DV-highlight:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* Hides from IE-mac \*/
* html .DV-ViewHighlights .DV-highlight {height: 1%;}
.DV-ViewHighlights .DV-highlight {display: block;}
/* End hide from IE-mac */

.DV-ViewHighlights .DV-currentPagePrefix,
.DV-ViewHighlights .DV-totalPages{
  display:none;
}

.DV-ViewHighlights .DV-currentHighlightPrefix,
.DV-ViewHighlights .DV-totalHighlights{
  display:inline;
}


.DV-ie .DV-ViewHighlights .DV-highlightLabel {
  float:none;
  left:0;
  position:absolute;
  top:7px;
}

.DV-ViewHighlights .DV-noChildren{
  display:none !important;
}

.DV-ViewHighlights .DV-hasChildren{
  display:block !important;
}
