.DV-viewDocument .DV-allHighlights,
.DV-viewDocument .DV-text,
.DV-viewDocument .DV-search,
.DV-viewDocument .DV-thumbnails,
.p0,
.p1,
.p2{
  display:none;
}

.DV-viewDocument .p0,
.DV-viewDocument .p1,
.DV-viewDocument .p2{
  display:block;
}

.DV-coverVisible .DV-viewDocument .p0,
.DV-coverVisible .DV-viewDocument .p1,
.DV-coverVisible .DV-viewDocument .p2{
  background:none;
}

.DV-viewDocument .DV-highlight {
  height: 0;
}
.DV-viewDocument .DV-pageNote {
  height: auto;
}
.DV-viewDocument .DV-activeHighlight {
  height: auto;
}

.DV-viewDocument .DV-currentHighlightPrefix,
.DV-viewDocument .DV-totalHighlights{
  display:none;
}

.DV-viewDocument .DV-currentPagePrefix,
.DV-viewDocument .DV-totalPages{
  display:inline;
}

.DV-viewDocument .DV-coverVisible .DV-cover{
  cursor:pointer !important;
}

.DV-viewDocument .DV-highlightRegionBorder {
  display: block;
}