<div class="DV-header">
  <div class="DV-headerHat" class="DV-clearfix">
    <div class="DV-branding">
      <% if (story_url) { %>
        <span class="DV-storyLink"><%= story_url %></span>
      <% } %>
    </div>
    <div class="DV-title">
      <%= title %>
    </div>
  </div>
</div>

<div id="noSaveDialog">You will lose your changes.  Continue?</div>

<div id="dupeAlert">This annotation has duplicates.  Update all with your changes?</div>
