<div class="DV-highlightMarker" id="DV-highlightMarker-<%= id %>">
  <span class="DV-trigger">
    <span class="DV-navHighlightTitle">Highlight <%= id %></span>&nbsp;<span class="DV-navPageNumber"><%= DV.t('pg') %> <%= page %></span>
  </span>
</div>